<%- include('partials/header', { pageTitle: 'About' }) %>

    <p>
        In the ever-evolving world of technology, innovation moves at the speed of thought. Lines of code, once simple
        instructions, now weave intricate digital ecosystems that power everything from social connections to financial
        empires. Developers, like modern-day architects, build virtual landscapes where creativity meets logic. Each bug
        encountered is a puzzle, a test of patience and ingenuity — yet solving it brings an unmatched sense of triumph.
        The IT field isn’t just about writing code; it’s about crafting solutions, improving lives, and constantly
        learning. In this realm, curiosity is the greatest tool, and those who embrace it are the ones who shape the
        future.
    </p>
    <%- include('partials/footer', { pageTitle: 'About' }) %>