<%- include('partials/header', { pageTitle: 'Home' }) %>

    <h2>JT-Novation</h2>
    <p>Have questions about your tech projects, software development, or IT solutions? We're here to help! Whether
        you're seeking guidance on web development, system architecture, or cybersecurity, our team of experienced
        professionals is ready to provide tailored solutions. Reach out to us for consultations, troubleshooting, or to
        discuss innovative ideas. Collaboration drives innovation, and we're excited to connect with you to turn your
        digital visions into reality. Contact us today and let's build the future together!</p>
    <%- include('partials/footer', { pageTitle: 'Home' }) %>